<div class="login-form-wrapper">
    <form class="login-form flex-container" [formGroup]="ResetPasswordForm" (ngSubmit)="onSubmit()">
      <div class="flex-container">
        <p>Digite el correo al que se le va a enviar la solicitud de cambio de contraseña</p>
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Nueva contraseña</mat-label>
            <input type="password" matInput formControlName="NewPasswordFormControl">
            <mat-error *ngIf="ResetPasswordForm.controls['NewPasswordFormControl']">
                Contraseña debe tener al menos 8 caracteres, un carácter numérico, una mayúscula y un carácter especial
            </mat-error>
        </mat-form-field>
        <div style="padding: 0.5rem;"></div>
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Confirmación de nueva contraseña</mat-label>
            <input type="password" matInput formControlName="ConfirmPasswordFormControl">
            <mat-error *ngIf="ResetPasswordForm.controls['ConfirmPasswordFormControl'] != ResetPasswordForm.controls['NewPasswordFormControl']">
                Confirmación de nueva contraseña debe ser igual a nueva contraseña
            </mat-error>
        </mat-form-field>
      </div>
      <button id="sumbit-button" type="submit" class="" mat-raised-button color="primary">Actualizar Contraseña</button>
    </form>
</div>