<div class="top-menu-container flexbox-container">
    <div class="logo-container">
        <img src="/assets/images/Escudo.png">
    </div>
    <div class="menu-list">
        <div class="right-container flexbox-container">
            <mat-icon class="icon">notifications</mat-icon>
            <mat-icon class="icon">account_circle</mat-icon>
            <div class="display-user-info">
                <span>{{ user_name }}</span>
                <mat-divider></mat-divider>
                <span>{{ user_role }}</span>
            </div>
            <mat-icon class="icon">settings</mat-icon>
        </div>
    </div>
</div>