
<div class="modal-header">
  <h2 class="modal-title" style="margin-bottom: 0">Informacion del evento</h2>
  <button
    type="button"
    class="btn btn-outline-danger close-btn"
    (click)="dismiss()"
  >
    &times;
  </button>
</div>
<div class="modal-body container" ngbAutofocus>
  <mat-card>
    <div class="row">
      <div class="col-10">
        <mat-form-field class="full-width" appearance="legacy">
          <mat-label>Titulo del evento</mat-label>
          <input class="full-width" matInput [(ngModel)]="event.title" />
        </mat-form-field>
      </div>
    </div>
  </mat-card>

  <mat-card>
    <div class="row justify-content-evenly dates">
      <div class="col-6">
        <mat-form-field class="datetime-picker">
          <input
            matInput
            [matDatepicker]="start"
            placeholder="Elija el inicio del evento"
            [(ngModel)]="event.start"
          />
          <mat-datepicker-toggle matSuffix [for]="$any(start)">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-date-range-picker #start></mat-date-range-picker>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="datetime-picker">
          <input
            matInput
            [disabled]="event.allDay"
            [matDatepicker]="ends"
            placeholder="Elija el final del evento"
            [(ngModel)]="event.ends"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="$any(ends)"
          ></mat-datepicker-toggle>
          <mat-datepicker #ends></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="dates">
      <mat-slide-toggle [(ngModel)]="event.allDay" style="float: right"
        >Todo el dia</mat-slide-toggle
      >
    </div>
  </mat-card>

  <mat-expansion-panel class="full-width">
    <mat-expansion-panel-header>
      <mat-panel-title> Agregar detalles </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-panel-description> </mat-panel-description>
    <div>
      <mat-form-field appearance="legacy" class="full-width">
        <mat-label>Detalles</mat-label>
        <input matInput [(ngModel)]="event.details" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="legacy" class="full-width">
        <mat-label>Lugar</mat-label>
        <input matInput [(ngModel)]="event.location" />
      </mat-form-field>
    </div>
  </mat-expansion-panel>

  <div class="modal-footer">
    <button mat-raised-button type="button" class="cancel-button" (click)="decline()">Cerrar</button>
    <button mat-raised-button type="button" class="add-button" (click)="accept()"> Guardar cambios </button>
  </div>
</div>