<div class="flex-container">
    <div class="top-options">
        <h1>Bitacora del sistema</h1>
    </div>
    <div class="logs-content">
        <mat-table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="message">
                <mat-header-cell *matHeaderCellDef> Mensaje </mat-header-cell>
                <mat-cell *matCellDef="let element"> 
                    <span class="mobile-label">Mensaje:</span>
                    <span id="message">{{element.message}}</span> 
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="level">
                <mat-header-cell *matHeaderCellDef> Nivel de error </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <span class="mobile-label">Nivel de error:</span>
                    {{element.level}} 
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="timeStamp">
                <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <span class="mobile-label">Fecha:</span>
                    {{element.timeStamp | date}} 
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>
</div>