<div class="login-form-wrapper">
    <form class="login-form flex-container" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="flex-container">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Username</mat-label>
                <input type="text" matInput formControlName="username">
            </mat-form-field>
            <div class="password">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password">
                </mat-form-field>
                <br>
                <a id="forgot-redirect" class="full-width" [routerLink]="['/auth', 'forget-password']">Forgot password?</a> </div>
        </div>
        <button id="sumbit-button" class="" mat-raised-button color="primary">Sign In</button>
    </form>
</div>