<div class="flex-container">
    <div class="top-options">
        <h1>Lista jurado</h1>
        <div class="sub-container">
            <form class="example-form">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Buscar jueces</mat-label>
                    <input type="text" (keyup)="applyFilter($event)" matInput placeholder="Buscar">
                    <mat-icon matSuffix>search</mat-icon> 
                </mat-form-field>
            </form>
        </div>
    </div>
    <div class="users-content">  

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
            <ng-container  matColumnDef="juez">
              <th mat-header-cell *matHeaderCellDef> Juez </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} {{element.lastname}}</td>
            </ng-container>
          
            <ng-container matColumnDef="posicion">
              <th mat-header-cell *matHeaderCellDef> Posicion </th>
              <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>
            
            <ng-container matColumnDef="institucion">
              <th mat-header-cell *matHeaderCellDef> Institucion </th>
              <td mat-cell *matCellDef="let element"> {{element.institution}} 
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </div>
</div> 