
<div class="flex-container">
    <div class="top-options">
        <h1>Cambio de contraseña</h1>
        <p>Digite el correo al que se le va a enviar la solicitud de cambio de contraseña</p>
    </div>

    <form class="forgetPassword-form flex-container" [formGroup]="ForgetPasswordForm" (ngSubmit)="onSubmit()" >
        <div class="flex-container">
            <mat-form-field class="full-width" appearance="outline">
                <input type="text" matInput formControlName="EmailFormControl">
            </mat-form-field>
        <button id="sumbit-button" class="" type="submit" mat-raised-button color="primary">Enviar Correo</button>
        </div>
    </form>
</div>

     

            
            