<div class="flex-container">
    <div class="top-options">
        <h1>Editar Profesor</h1>
        <h3>Edita los datos del profesor seleccionado</h3>
    </div>
    <form class="add-form" [formGroup]="adminForm" (ngSubmit)="onSubmit()">

        <!--for name-->
        <mat-form-field class="flex-container" appearance="outline">
            <mat-label>Nombre del profesor</mat-label>
            <input type="name" matInput formControlName="NameFormControl">
        </mat-form-field>
        <!--for last-->
        <mat-form-field class="flex-container" appearance="outline">
            <mat-label>Apellidos del profesor</mat-label>
            <input type="last" matInput formControlName="LastFormControl">
        </mat-form-field>
        <!--for email-->
        <mat-form-field class="flex-container" appearance="outline">
            <mat-label>Correo del profesor</mat-label>
            <input type="email" matInput formControlName="EmailFormControl" placeholder="Ej. smith@gmail.com">
        </mat-form-field>
        <!--for username-->
        <mat-form-field class="flex-container" appearance="outline">
            <mat-label>Nombre de usuario del profesor</mat-label>
            <input type="name" matInput formControlName="UsernameFormControl">
        </mat-form-field>
        <!--for id-->
        <mat-form-field class="flex-container" appearance="outline">
            <mat-label>Cédula del profesor</mat-label>
            <input type="id" matInput formControlName="IdFormControl" placeholder="XX-XXXX-XXXX">
        </mat-form-field>
        <button mat-raised-button id="sumbit-button" class="add-button">Editar Profesor</button>
    </form>
</div>