* {
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.top-options {
    padding: 0 2rem;
    margin-top: 5rem;
}

.add-form {
    margin-top: 2rem;
    margin-bottom: 2rem;
    min-width: 100px;
    max-width: 40%;
    width: 100%;
    padding: 0 2rem;
}

.full-width {
    width: 95%;
    margin: 0 auto;
}

.button {
    color: #FFFFFF;
    background-color: #354F52;
    height: 2.5rem;
    margin-left: .5rem;
    margin-bottom: 1rem;
}

.cancel {
    color: #AD2121;
    background-color: transparent;
    border: #AD2121 1px solid;
}

.div-buttons {
    text-align: right;
    padding: 1rem;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}