* {
    margin: 0;
    padding: 0;
}

.flex-container {
    height: 100%;
    width: 100%;
}

.top-options {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 2rem;
    margin-top: 2rem;
}

.add-form {
    margin-top: 1rem;  
    margin-bottom: 2rem;
    min-width: 100px;
    max-width: 550px;
    width: 100%;
    padding: 0 2rem;
  }

  .add-button {
    color: #FFFFFF;
    background-color: #354F52;
    height: 2.5rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
 
}
 
::-webkit-scrollbar {
    width: 0;
    background: transparent;
}
 