<div class="flex-container">
    <div class="top-options">
        <h1>Configuración de la cuenta</h1>
        <mat-icon>account_circle</mat-icon>
        <h4 id="links" [routerLink]="['/student', 'forget-password']" >Cambiar contraseña</h4>
    </div>
    <form class="add-form" [formGroup]="studentForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-6">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input type="text" matInput formControlName="NameFormControl">
                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Apellidos</mat-label>
                    <input type="text" matInput formControlName="LastFormControl">
                </mat-form-field>
            </div>
        </div>

        <div class="rows">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Nombre de usuario</mat-label>
                <input type="text" matInput formControlName="UsernameFormControl">
            </mat-form-field>
    </div>
        <div class="rows">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Teléfono</mat-label>
                    <input type="phone" matInput formControlName="PhoneFormControl">
                </mat-form-field>
        </div>
        <div class="rows">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Correo electrónico</mat-label>
                <input type="email" matInput formControlName="EmailFormControl" placeholder="abc@gmail.com">
            </mat-form-field>
        </div>

        <div class="div-buttons">
            <button mat-raised-button class="button" id="submit-button">Actualizar</button>
            <button mat-raised-button routerLink="/administrator/home" class="button cancel">Cancelar</button>
        </div>
    </form>
</div>