<div class="side-bar-menu">
    <div class="admin-team-options flexbox-container">
        <h3>Administración de equipo</h3>
        <div class="options">
            <div *ngFor="let user_option of user_options">
                <div class="option" [routerLink]="[user_option.link]">
                    <mat-icon class="icon">{{ user_option.icon }}</mat-icon>
                    <span>{{ user_option.text }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="admin-project-options flexbox-container">
        <h3>Administración del proyecto</h3>
        <div class="options">
            <div *ngFor="let project_option of project_admin_options ">
                <div class="option " [routerLink]="[project_option.link] ">
                    <mat-icon class="icon ">{{ project_option.icon }}</mat-icon>
                    <span>{{ project_option.text }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="fair-details-options flexbox-container ">
        <h3>Detalles de la feria</h3>
        <div class="options ">
            <div *ngFor="let fair_option of fair_options ">
                <div class="option " [routerLink]="[fair_option.link] ">
                    <mat-icon class="icon ">{{ fair_option.icon }}</mat-icon>
                    <span>{{ fair_option.text }}</span>
                </div>
            </div>
        </div>
    </div>
</div>