
<div class="flex-container">
    <div class="top-options">
        <h3>Digite la contraseña nueva que desea tener </h3>
    </div>

    <form class="forgetPassword-form flex-container" [formGroup]="ResetPasswordForm" (ngSubmit)="onSubmit()" >
        <div class="flex-container">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Nueva contraseña</mat-label>
                <input type="text" matInput formControlName="NewPasswordFormControl">
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Confirmación de nueva contraseña</mat-label>
                <input type="text" matInput formControlName="ConfirmPasswordFormControl">
            </mat-form-field>
        <button id="sumbit-button" class="" type="submit" mat-raised-button color="primary">Actualizar Contraseña</button>
        </div>
    </form>
</div>
