<div class="modal-header">
    <h3 class="modal-title" id="modal-basic-title">Recomendaciones</h3>
</div>
<div class="modal-body">
    <form class="recomendations-form">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Recomendaciones para el grupo</mat-label>
            <textarea matInput placeholder="Ej. Se podría mejorar la..."></textarea>
        </mat-form-field>
    </form>
    
    <button class="button" mat-raised-button (click)="onNoClick()">Aceptar</button>
</div>
