<div class="modal-header">
    <h2 class="modal-title" style="margin-bottom: 0;">Dar recomendaciones al proyecto</h2>
    <button type="button" class="btn btn-outline-danger close-btn" (click)="dismiss()">&times;
    </button>
</div>
<div class="modal-body container" ngbAutofocus>
    <form [formGroup]="createRecommendationForm" (ngSubmit)="onSubmit()" novalidate>
        
            <div class="row">
                <div class="col-12">
                    <mat-form-field class="full-width" appearance="legacy">
                        <mat-label>Recomendación</mat-label>
                        <input class="full-width" matInput formControlName="recommendation" required>
                        <mat-error *ngIf="errorValidator('recommendation', 'required')">La recomendación es requerida</mat-error>
                        <mat-error *ngIf="errorValidator('recommendation', 'maxlength')">Límite máximo de 400 caracteres alcanzado</mat-error>
                    </mat-form-field>
                </div>
            </div>
        
        <div class="modal-footer ">
            <button mat-raised-button type="button" id="submit-button" class="cancel-button" (click)="decline()">Cancelar</button>
            <button mat-raised-button type="button" id="submit-button" class="add-button" (click)="accept()">Subir recomendación</button>
        </div>
    </form>    
</div>