<div class="side-bar-menu">
    <div class="admin-general-options flexbox-container">
        <h3>General</h3>
        <div class="options">
            <div *ngFor="let general_option of general_options">
                <div class="option " [routerLink]="[general_option.link]">
                    <mat-icon class="icon">{{ general_option.icon }}</mat-icon>
                    <span>{{ general_option.text }}</span>
                </div>
            </div>
        </div>
    </div>
    
    <div class="admin-users-options flexbox-container">
        <h3>Administración de usuarios</h3>
        <div class="options">
            <div *ngFor="let user_option of user_options">
                <div class="option" [routerLink]="[user_option.link]">
                    <mat-icon class="icon">{{ user_option.icon }}</mat-icon>
                    <span>{{ user_option.text }}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="admin-fair-options flexbox-container">
        <h3>Administración de feria</h3>
        <div class="options">
            <div *ngFor="let fair_option of fair_options">
                <div class="option " [routerLink]="[fair_option.link]">
                    <mat-icon class="icon">{{ fair_option.icon }}</mat-icon>
                    <span>{{ fair_option.text }}</span>
                </div>
            </div>
        </div>
    </div>
</div>