/** {
    margin: 0;
    padding: 0;
    background-color: #354F52;
}

.side-bar-menu {
    height: 100%;
    width: 100%;
    padding-left: 2rem;
    padding: 2rem auto;
}

h3 {
    margin-top: 2rem;
    color: #BDBBB6;
}

.option {
    color: #FFFFFF;
}

.flexbox-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.option {
    margin: 2rem auto;
    display: flex;
    flex-direction: row;
}

span {
    margin-left: 1rem;
    margin-right: 1.5rem;
    font-size: 16pt;
    font-weight: 300;
    cursor: pointer;
}

mat-icon {
    font-size: 25pt;
    cursor: pointer;
}*/

mat-toolbar {
    background: #84A98C;
    color: white;
}

mat-sidenav{
    /*margin: 16px;
    width: 200px;
    border-right: none;*/
    background: #354F52;
    color: #FFFFFF;
    padding: 16px;
    text-align: center;
    height: 100%;
}

.menu-buttom{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
}

mat-icon {
    margin-right: 8px;
}

.avatar {
    margin-top: 16px;
    width: 100px;
    height: 100px;
    margin-bottom: 16px;
}
  
.name {
    margin-top: 8px;
    font-weight: normal;
}
  
.designation {
    margin-top: 2px;
    font-size: 0.9rem;
    color: lightgrey;
}
  
mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
}

mat-sidenav-container{
    height: calc(100vh - 65px);
}
