<div class="registration-form-wrapper">
    <form class="registration-form flex-container" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <div class="flex-container">
            <div class="flex-container-name" style="margin: -1rem auto;">
                <mat-form-field class="half-width" appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput type="text" formControlName="name">
                </mat-form-field>

                <mat-form-field class="half-width" appearance="outline">
                    <mat-label>Last</mat-label>
                    <input matInput type="text" formControlName="last">
                </mat-form-field>
            </div>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="text" formControlName="email">
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password">
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Confirm password</mat-label>
                <input matInput type="password" formControlName="id">
            </mat-form-field>
        </div>
        <button id="sumbit-button" class="" mat-raised-button color="primary">Sign Up</button>
    </form>
</div>