* {
    margin: 0;
    padding: 0;
}

.flex-container {
    height: 100%;
    width: 100%;
}

.top-options {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.users-content {
        padding-top: 3rem;
        height: 85%;
        max-height: 85%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        overflow: scroll;
}

.add-button {
    color: #FFFFFF;
    background-color: #354F52;
    height: 2.5rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
}


.sub-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.btn-delete{
  
    color: #C01122;
    font-size: 15pt;
    margin-left: 2rem;
    cursor: pointer;
}
table {
    width: 90%;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}
