<div class="flex-container">
    <div class="top-options">
        <h1>Lista de menciones para los proyectos calificados</h1>
        <div class="sub-container">
            <form class="example-form">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Buscar Menciones</mat-label>
                    <input type="text" matInput placeholder="Ejemplo: Innovacion">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            </form>
        </div>
    </div>
    <div class="mentions-content">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nombre de la mención</th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> Descripción </th>
                <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>