<div class="flex-container">
    <div class="flex-container top-options">
        <h1>Agregar Estudiante</h1>
        <h3>Crea una cuenta para un nuevo estudiante</h3>
    </div>
    <form class="add-form" [formGroup]="createStudentForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-6">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Nombre del estudiante</mat-label>
                    <input type="text" matInput formControlName="NameFormControl">
                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Apellidos del estudiante</mat-label>
                    <input type="text" matInput formControlName="LastFormControl">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Nombre de usuario del estudiante</mat-label>
                    <input type="text" matInput formControlName="UsernameFormControl">
                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Cédula del estudiante</mat-label>
                    <input type="text" matInput formControlName="IdFormControl" placeholder="XX-XXXX-XXXX">
                </mat-form-field>
            </div>
        </div>

        <div class="rows">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Correo del estudiante</mat-label>
                <input type="email" matInput formControlName="EmailFormControl" placeholder="abc@gmail.com">
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Teléfono del estudiante</mat-label>
                <input type="phone" matInput formControlName="PhoneFormControl" placeholder="8888-8888">
            </mat-form-field>
            <!-- <mat-form-field class="full-width" appearance="outline">
                <mat-label>Contraseña del estudiante</mat-label>
                <input type="password" matInput formControlName="PasswordFormControl">
            </mat-form-field> -->
        </div>

        <div class="div-buttons">
            <button mat-raised-button routerLink="/administrator/manage-students" class="button cancel">Cancelar</button>
            <button mat-raised-button id="submit-button" class="button">Crear Estudiante</button>
        </div>
    </form>
</div>