<div>
   <h3>
    <button class="btn btn-primary float-right" (click)="addEvent()">Agregar evento</button>
    <div class="clearfix"></div>
</h3> 
</div>
<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Desde</th>
                <th>Hasta</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let event of events">
                <td>
                    <input type="text" class="form-control" [(ngModel)]="event.title" (keyup)="refresh.next()" />
                </td>
                <td>
                    <input class="form-control" type="text" mwlFlatpickr [(ngModel)]="event.start" (ngModelChange)="refresh.next()" [altInput]="true" [convertModelValue]="true" [enableTime]="true" dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i" placeholder="Not set" />
                </td>
                <td>
                    <input class="form-control" type="text" mwlFlatpickr [(ngModel)]="event.end" (ngModelChange)="refresh.next()" [altInput]="true" [convertModelValue]="true" [enableTime]="true" dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i" placeholder="Not set" />
                </td>
                <td>
                    <button class="btn btn-danger" (click)="deleteEvent(event)">Borrar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
    <div>
    <button mat-button mat-dialog-close>Agregar</button>
    <button mat-button (click)="onNoClick()">Cancelar</button>
    </div>

