<div class="modal-header">
    <h2 class="modal-title" style="margin-bottom: 0;">Contactar Estudiantes</h2>
    <button type="button" class="btn btn-outline-danger close-btn" (click)="dismiss()">&times;
    </button>
</div>
<div class="modal-body container" ngbAutofocus>
        
    <h3 class="space">Correos de los estudiantes del grupo {{project_name}} </h3>
    <div class="members">
        <div class="members" *ngFor="let group_members_emails of group_members_emails">
            <a class="mails" href="mailto:">{{ group_members_emails }}</a>
        </div>
    </div>

    <div class="modal-footer ">
        <button mat-raised-button type="button" id="submit-button" class="add-button" (click)="accept()">Cerrar</button>
    </div>

</div>