<div class="modal-header">
    <h2 class="modal-title" style="margin-bottom: 0;">Create new appointment</h2>
    <button type="button" class="btn btn-outline-danger close-btn" (click)="dismiss()">&times;
    </button>
</div>
<div class="modal-body container" ngbAutofocus>
    <form [formGroup]="newAppoitmentForm" (ngSubmit)="onSubmit()" novalidate>
        <mat-card>
            <div class="row">
                <div class="col-12">
                    <mat-form-field class="full-width" appearance="legacy">
                        <mat-label>Title</mat-label>
                        <input class="full-width" matInput formControlName="title">
                    </mat-form-field>
                </div>
            </div>

            <div class="row dates">
                <mat-form-field appearance="fill">
                    <mat-label>Escoja un rango de fechas</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate formControlName="start" placeholder="Start date">
                        <input matEndDate formControlName="finish" placeholder="End date">
                    </mat-date-range-input>
                    <mat-hint>MM/DD/AAAA – MM/DD/AAAA</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>

                    <mat-error *ngIf="newAppoitmentForm.controls.start.hasError('matStartDateInvalid')">Fecha invalida</mat-error>
                    <mat-error *ngIf="newAppoitmentForm.controls.finish.hasError('matEndDateInvalid')">Fecha invalida</mat-error>
                </mat-form-field>
            </div>

            <div class="row">
                <mat-form-field class="full-width" appearance="legacy">
                    <mat-label>Lugar del evento</mat-label>
                    <input class="full-width" matInput formControlName="location">
                </mat-form-field>
            </div>

            <div class="dates">
                <mat-slide-toggle style="float: right;" formControlName="allDay">Todo el dia</mat-slide-toggle>
            </div>
        </mat-card>
        <div class="modal-footer ">
            <button mat-raised-button type="button" id="submit-button" class="cancel-button" (click)="decline()">Cancel</button>
            <button mat-raised-button type="button" id="submit-button" class="add-button" (click)="accept()">Add</button>
        </div>
    </form>
</div>