<div class="flex-container">
    <div class="top-options">
        <h1>Editar Juez</h1>
        <h3>Edita los datos necesarios del juez seleccionado</h3>
    </div>
    <form class="add-form" [formGroup]="judgeForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-6">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Nombre del juez</mat-label>
                    <input type="text" matInput formControlName="NameFormControl" required onkeypress="return /[a-zA-ZñÑá-úÁ-Ú]/i.test(event.key)">
                    <mat-error *ngIf="errorValidator('NameFormControl', 'required')">El nombre del juez es obligatorio</mat-error>
                    <mat-error *ngIf="errorValidator('NameFormControl', 'minlength')">Límite mínimo de 3 caracteres sin completar</mat-error>
                    <mat-error *ngIf="errorValidator('NameFormControl', 'maxlength')">Límite máximo de 30 caracteres alcanzado</mat-error>
                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Apellidos del juez</mat-label>
                    <input type="text" matInput formControlName="LastFormControl" required onkeypress="return /[a-zA-ZñÑá-úÁ-Ú ]/i.test(event.key)">
                    <mat-error *ngIf="errorValidator('LastFormControl', 'required')">Los apellidos del juez son obligatorios</mat-error>
                    <mat-error *ngIf="errorValidator('LastFormControl', 'maxlength')">Límite máximo de 100 caracteres alcanzado</mat-error>
                    <mat-error *ngIf="errorValidator('LastFormControl', 'minlength')">Límite mínimo de 10 caracteres sin completar</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Nombre de usuario del juez</mat-label>
                    <input type="text" matInput formControlName="UsernameFormControl" required>
                    <mat-error *ngIf="errorValidator('UsernameFormControl', 'required')">El nombre de usuario es obligatorio</mat-error>
                    <mat-error *ngIf="errorValidator('UsernameFormControl', 'maxlength')">Límite máximo de 15 caracteres alcanzado</mat-error>
                    <mat-error *ngIf="errorValidator('UsernameFormControl', 'minlength')">Límite mínimo de 5 caracteres sin completar</mat-error>
                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Telefono del Juez</mat-label>
                    <input type="text" matInput formControlName="PhoneFormControl" placeholder="88888888" maxlength="8" required autocomplete="off" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" min="1" required>
                    <mat-error *ngIf="errorValidator('PhoneFormControl', 'required')">El número de teléfono es obligatorio</mat-error>
                    <mat-error *ngIf="errorValidator('PhoneFormControl', 'pattern')">El campo solo acepta números de teléfono validos</mat-error>
                    <mat-error *ngIf="errorValidator('PhoneFormControl', 'maxlength')">Límite máximo de 8 caracteres alcanzado</mat-error>
                    <mat-error *ngIf="errorValidator('PhoneFormControl', 'minlength')">Límite mínimo de 8 caracteres sin completar</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Correo del juez</mat-label>
                <input type="email" matInput formControlName="EmailFormControl" placeholder="abc@gmail.com" readonly>
            </mat-form-field>
        </div>

        <div class="div-buttons">
            <button mat-raised-button routerLink="/administrator/manage-judges" class="button cancel">Cancelar</button>
            <button mat-raised-button id="submit-button" class="button">Editar Juez</button>
        </div>
    </form>
</div>