<div class="login-form-wrapper">
    <form class="login-form flex-container" [formGroup]="ForgetPasswordForm" (ngSubmit)="onSubmit()">
      <div class="flex-container">
        <p>Digite el correo al que se le va a enviar la solicitud de cambio de contraseña</p>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Correo</mat-label>
          <input type="text" matInput formControlName="EmailFormControl" required>
          <mat-error *ngIf="ForgetPasswordForm.controls['EmailFormControl']">
            Por favor digite el correo con un formato correcto
          </mat-error>
        </mat-form-field>
      </div>
      <button id="sumbit-button" type="submit" class="" mat-raised-button color="primary">Enviar Correo</button>
    </form>
</div>