<div class="side-bar-menu">
    <div class="jugde-projects-options flexbox-container">
        <h3>Calificar Proyectos</h3>
        <div class="options">
            <div *ngFor="let project_option of project_options">
                <div class="option" [routerLink]="[project_option.link]">
                    <mat-icon class="icon">{{ project_option.icon }}</mat-icon>
                    <span>{{ project_option.text }}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="jugde-jugdes-options flexbox-container">
        <h3>Lista de jueces</h3>
        <div class="options">
            <div *ngFor="let judges_option of judges_options">
                <div class="option" [routerLink]="[judges_option.link]">
                    <mat-icon class="icon">{{ judges_option.icon }}</mat-icon>
                    <span>{{ judges_option.text }}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="judge-student-options flexbox-container">
        <h3>Estudiantes</h3>
        <div class="options">
            <div *ngFor="let student_option of student_options">
                <div class="option" [routerLink]="[student_option.link]">
                    <mat-icon class="icon">{{ student_option.icon }}</mat-icon>
                    <span>{{ student_option.text }}</span>
                </div>
            </div>
        </div>
    </div>
</div>