<div class="flex-container">
    <div class="flex-container top-options">
        <h1>Agregar Juez</h1>
        <h3>Crea una cuenta para un nuevo juez</h3>
    </div>
    <form class="add-form" [formGroup]="createJudgeForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-6">
                <mat-form-field class="full-width" appearance="outline">
                    <!--for name-->
                    <mat-label>Nombre del juez</mat-label>
                    <input type="text" matInput formControlName="NameFormControl">
                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Apellidos del juez</mat-label>
                    <input type="text" matInput formControlName="LastFormControl">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Nombre de usuario del juez</mat-label>
                    <input type="text" matInput formControlName="UsernameFormControl">
                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Teléfono del juez</mat-label>
                    <input type="phone" matInput formControlName="PhoneFormControl" placeholder="8888-8888">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Empresa donde pertenece el juez</mat-label>
                    <input type="text" matInput formControlName="InstitutionFormControl">
                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Posición del Juez</mat-label>
                    <input type="text" matInput formControlName="PositionFormControl">
                </mat-form-field>
            </div>
        </div>
        
        <div class="row">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Correo del juez</mat-label>
                <input type="email" matInput formControlName="EmailFormControl" placeholder="abc@gmail.com">
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Cédula del juez</mat-label>
                <input type="text" matInput formControlName="IdFormControl" placeholder="XX-XXXX-XXXX">
            </mat-form-field>
        </div>

        <div class="div-buttons">
            <button mat-raised-button routerLink="/administrator/manage-judges" class="button cancel">Cancelar</button>
            <button mat-raised-button id="submit-button" class="button">Crear Juez</button>
        </div>
    </form>
</div>