<div class="flex-container">
    <div class="top-options">
        <h1>Crear un nuevo proyecto</h1>
    </div>
    <div class="content">
        <div class="left-side">
            <div class="projects-form">
                <form class="login-form variable-width" [formGroup]="newProjectForm" enctype="multipart/form-data">
                    <div class="form-flex-container">
                        <mat-form-field class="variable-width" appearance="outline">
                            <mat-label>Nombre del proyecto</mat-label>
                            <input type="text" matInput formControlName="Name">
                            <mat-error *ngIf="newProjectForm.controls['Name'].hasError('whitespace')">
                                Por favor elimina los espacios en blanco del formulario 
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="variable-width" hintLabel="Max 400 caracteres" appearance="outline">
                            <mat-label>Descripción del proyecto</mat-label>
                            <textarea #txtArea matInput [maxlength]="400" formControlName="Description"></textarea>
                            <mat-hint align="end">{{txtArea.value.length || 0}}/400</mat-hint>
                        </mat-form-field>
                        <mat-form-field class="variable-width" appearance="outline">
                            <mat-label>Líder del proyecto</mat-label>
                            <input type="text" matInput formControlName="Lider">
                            <mat-error *ngIf="newProjectForm.controls['Lider'].hasError('whitespace')">
                                Por favor elimina los espacios en blanco del formulario 
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="variable-width" appearance="outline">
                            <mat-label>Segundo integrante del grupo</mat-label>
                            <input type="text" matInput formControlName="Member2">
                            <mat-error *ngIf="newProjectForm.controls['Member2'].hasError('whitespace')">
                                Por favor elimina los espacios en blanco del formulario 
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="variable-width" appearance="outline">
                            <mat-label>Tercer integrante del grupo</mat-label>
                            <input type="text" matInput formControlName="Member3">
                            <mat-error *ngIf="newProjectForm.controls['Member3'].hasError('whitespace')">
                                Por favor elimina los espacios en blanco del formulario 
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="variable-width" appearance="outline" >
                            <mat-label>Categoría del proyecto</mat-label>
                            <mat-select formControlName="Category" name="Category">
                                <mat-option *ngFor="let category of this.categories" [value]="category.id" >
                                    {{category.description}}   
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="!newProjectForm.controls['Category'].valid && newProjectForm.controls['Category'].touched">
                                La categoría es requerida
                              </mat-error>
                        </mat-form-field>
                        <mat-form-field class="variable-width invisible" appearance="outline">
                            <mat-label></mat-label>
                            <input type="text" matInput formControlName="IdFair">
                        </mat-form-field>
                    </div>
                </form>
            </div>
        </div>
        <mat-divider vertical style="height:85%; margin: 0 5%;"></mat-divider>
        <div class="left-side">
            <div class="title">
                <h1>Inserte los documentos de inscripción del proyecto para la Expo-Ingeniería</h1>
            </div>
            <div class="center">
                <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
                    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                        <div class="ng-template-content">
                            <h3>
                                Arrastre los documentos aquí
                            </h3>
                            <button id="sumbit-button" (click)="openFileSelector()" mat-raised-button color="primary">Buscar documento</button>
                        </div>
                    </ng-template>
                </ngx-file-drop>
                <div class="upload-table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                            </tr>
                        </thead>
                        <tbody class="upload-name-style">
                            <tr *ngFor="let item of files; let i=index">
                                <td>{{ item.relativePath }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="bottom">
                <button id="sumbit-button" class="variable-width" mat-raised-button color="primary" (click)="createProject()">Subir propuesta de proyecto</button>
            </div>
        </div>
    </div>
</div>