<div class="flex-container">
    <div class="top-options">
        <h1>Crear un nuevo proyecto</h1>
    </div>
    <div class="content">
        <div class="left-side">
            <div class="projects-form">
                <form class="login-form variable-width" [formGroup]="newProjectForm" enctype="multipart/form-data">
                    <div class="form-flex-container">

                        <mat-form-field class="variable-width" appearance="outline">
                            <mat-label>Nombre del proyecto</mat-label>
                            <input type="text" matInput formControlName="Name" required onkeypress="return /[a-zA-ZñÑá-úÁ-Ú ]/i.test(event.key)">
                            <mat-error *ngIf="newProjectForm.controls['Name'].hasError('whitespace')">Por favor elimina los espacios en blanco del formulario</mat-error>
                            <mat-error *ngIf="errorValidator('Name', 'required')">El nombre del proyecto es obligatorio</mat-error>
                            <mat-error *ngIf="errorValidator('Name', 'maxlength')">Límite máximo de 70 caracteres alcanzado</mat-error>
                            <mat-error *ngIf="errorValidator('Name', 'minlength')">Límite mínimo de 3 caracteres sin completar</mat-error>
                        </mat-form-field>

                        <mat-form-field class="variable-width" appearance="outline">
                            <mat-label>Descripción del proyecto</mat-label>
                            <textarea #txtArea matInput [maxlength]="400" formControlName="Description" required></textarea>
                            <mat-error *ngIf="errorValidator('Description', 'required')">La descripción del proyecto es obligatoria</mat-error>
                            <mat-error *ngIf="errorValidator('Description', 'maxlength')">Límite máximo de 400 caracteres alcanzado</mat-error>
                            <mat-error *ngIf="errorValidator('Description', 'minlength')">Límite mínimo de 10 caracteres sin completar</mat-error>
                            <!-- <mat-hint align="end">{{txtArea.value.length || 0}}/400</mat-hint> -->
                        </mat-form-field>

                        <mat-form-field class="variable-width" appearance="outline">
                            <mat-label>Líder del proyecto</mat-label>
                            <input type="email" matInput formControlName="Lider" required>
                            <mat-error *ngIf="newProjectForm.controls['Lider'].hasError('whitespace')">Por favor elimina los espacios en blanco del formulario</mat-error>
                            <mat-error *ngIf="errorValidator('Lider', 'required')">El correo electrónico del líder es obligatorio</mat-error>
                            <mat-error *ngIf="errorValidator('Lider', 'email')">Se necesita una dirección de correo electrónico válida</mat-error>
                            <mat-error *ngIf="errorValidator('Lider', 'maxlength')">Límite máximo de 100 caracteres alcanzado</mat-error>
                            <mat-error *ngIf="errorValidator('Lider', 'minlength')">Límite mínimo de 10 caracteres sin completar</mat-error>
                        </mat-form-field>

                        <mat-form-field class="variable-width" appearance="outline">
                            <mat-label>Segundo integrante del grupo</mat-label>
                            <input type="email" matInput formControlName="Member2" required>
                            <mat-error *ngIf="newProjectForm.controls['Lider'].hasError('whitespace')">Por favor elimina los espacios en blanco del formulario</mat-error>
                            <mat-error *ngIf="errorValidator('Lider', 'required')">El correo electrónico del segundo integrante es obligatorio</mat-error>
                            <mat-error *ngIf="errorValidator('Member2', 'email')">Se necesita una dirección de correo electrónico válida</mat-error>
                            <mat-error *ngIf="errorValidator('Member2', 'maxlength')">Límite máximo de 100 caracteres alcanzado</mat-error>
                            <mat-error *ngIf="errorValidator('Member2', 'minlength')">Límite mínimo de 10 caracteres sin completar</mat-error>
                        </mat-form-field>

                        <mat-form-field class="variable-width" appearance="outline">
                            <mat-label>Tercer integrante del grupo</mat-label>
                            <input type="email" matInput formControlName="Member3" required>
                            <mat-error *ngIf="newProjectForm.controls['Lider'].hasError('whitespace')">Por favor elimina los espacios en blanco del formulario</mat-error>
                            <mat-error *ngIf="errorValidator('Lider', 'required')">El correo electrónico del tercer integrante es obligatorio</mat-error>
                            <mat-error *ngIf="errorValidator('Member3', 'email')">Se necesita una dirección de correo electrónico válida</mat-error>
                            <mat-error *ngIf="errorValidator('Member3', 'maxlength')">Límite máximo de 100 caracteres alcanzado</mat-error>
                            <mat-error *ngIf="errorValidator('Member3', 'minlength')">Límite mínimo de 10 caracteres sin completar</mat-error>
                        </mat-form-field>

                        <mat-form-field class="variable-width" appearance="outline" >
                            <mat-label>Categoría del proyecto</mat-label>
                            <mat-select formControlName="Category" name="Category">
                                <mat-option *ngFor="let category of this.categories" [value]="category.id" >
                                    {{category.description}}   
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="!newProjectForm.controls['Category'].valid && newProjectForm.controls['Category'].touched">La categoría es requerida</mat-error>
                        </mat-form-field>

                        <mat-form-field class="variable-width invisible" appearance="outline">
                            <mat-label></mat-label>
                            <input type="text" matInput formControlName="IdFair">
                        </mat-form-field>
                    </div>
                </form>
            </div>
        </div>
        <mat-divider vertical style="height:85%; margin: 0 5%;"></mat-divider>
        <div class="left-side">
            <div class="title">
                <h1>Inserte los documentos de inscripción del proyecto para la Expo-Ingeniería</h1>
            </div>
            <div class="center">
                <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
                    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                        <div class="ng-template-content">
                            <h3>
                                Arrastre los documentos aquí
                            </h3>
                            <button id="sumbit-button" (click)="openFileSelector()" mat-raised-button color="primary">Buscar documento</button>
                        </div>
                    </ng-template>
                </ngx-file-drop>
                <div class="upload-table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                            </tr>
                        </thead>
                        <tbody class="upload-name-style">
                            <tr *ngFor="let item of files; let i=index">
                                <td>{{ item.relativePath }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="bottom">
                <button id="sumbit-button" class="variable-width" mat-raised-button color="primary" (click)="createProject()">Subir propuesta de proyecto</button>
            </div>
        </div>
    </div>
</div>