* {
    margin: 0;
    padding: 0;
}

h1{
    font-size: xx-large;
    margin-bottom: 15%;
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 1.5em 0 ;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.top-options {
    padding: 0 2rem;
    margin-top: 5rem;
}

.add-form {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 2rem;
    min-width: 100px;
    max-width: 40%;
    width: 100%;
    height: 100%;
    padding: 0 2rem;
    justify-content: space-around;
}

.full-width {
    width: 95%;
    margin: 0 auto;
}

.button {
    color: #FFFFFF;
    background-color: #354F52;
    height: 2.5rem;
    margin-left: .5rem;
    margin-bottom: 1rem;
}

.cancel {
    color: #AD2121;
    background-color: transparent;
    border: #AD2121 1px solid;
}

.div-buttons {
    text-align: center;
    padding: 1rem;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.mat-icon {
    font-size: 40pt;
    margin-right: 1.5rem;
}

#links {
    cursor: pointer;
    color: #255BB8;
}