<div class="flex-container">
    <div class="top-options">
        <h1>Proyectos por calificar</h1>
        <div class="sub-container">
            <form class="example-form">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Buscar proyectos</mat-label>
                    <input type="text" matInput (keyup)="applyFilter($event)" placeholder="Ingrese nombre del proyecto">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            </form>
            
        </div>
    </div>
    <div class="users-content">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nombre del Proyecto </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> Descripcion </th>
                <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>
            <!--<ng-container matColumnDef="files">
                <th mat-header-cell *matHeaderCellDef> Documentación </th>
                <td mat-cell *matCellDef="let element"> {{element.files}} </td>
            </ng-container>-->

            <!--Button-->
            <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Calificar</th>
            <td mat-cell *matCellDef="let element">
                    <mat-icon [routerLink]="['/judges/project-details/', element.id]" class="btn_calificar">border_color</mat-icon>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>