<div class="container-fluid">
    <div class="grid">
        <div class="col">
            <h1 class="section-title">Proyectos inscritos por feria</h1>
            <div class="flex-chart-content">
                <ngx-charts-bar-vertical [results]="projectsByYear" [xAxis]="true" [yAxis]="true"
                    [showGridLines]="true">
                </ngx-charts-bar-vertical>
            </div>
        </div>
        <div class="col">
            <h1 class="section-title">Proyectos por categoria</h1>
            <div class="flex-chart-content">
                <ngx-charts-bar-vertical [results]="projectsByCategory" [xAxis]="true" [yAxis]="true"
                    [showGridLines]="true">
                </ngx-charts-bar-vertical>
            </div>
        </div>
        <div class="col">
            <h1 class="section-title">Calificaciones realizadas por proyectos</h1>
            <div class="flex-chart-content">
                <ngx-charts-bar-vertical [results]="projectsByQualifications" [xAxis]="true" [yAxis]="true"
                    [showGridLines]="true">
                </ngx-charts-bar-vertical>
            </div>
        </div>
        <div class="col">
            <h1 class="section-title">Usuarios por proyecto</h1>
            <div class="flex-chart-content">
                <ngx-charts-bar-vertical [results]="usersPerProject" [xAxis]="true" [yAxis]="true"
                    [showGridLines]="true">
                </ngx-charts-bar-vertical>
            </div>
        </div>
    </div>
</div>