.modal-title {
  margin: 0;
}

.full-width {
  width: 100%;
}

.add-button {
  color: #ffffff;
  background-color: #354f52;
  height: 2.5rem;
  margin-left: 0.5rem;
}

.cancel-button {
  color: #ad2121;
  background-color: transparent;
  border: #ad2121 1px solid;
  height: 2.5rem;
  margin-left: 0.5rem;
}

::ng-deep ngb-modal-backdrop {
  z-index: 999 !important  ;
}

::ng-deep ngb-modal-window {
  z-index: 999 !important;
}

mat-card {
  padding: 2rem 1rem;
  margin: 10px 0;
}

.dates {
  padding: 1rem 0;
}
/* 
.btns {
    margin: 2rem auto 0.5rem;
} */
